*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.guess__restart{
    display: none;
}
.guess__title{
    display: inline-block;
    color: aliceblue;
    background-color: red;
    
}
.guess__inp{
    width: 300px;
    height: 35px;
    border: 3px solid brown;
    font-size: 30px;
    outline: none;
    border-radius: 30px;
    text-align: center;

}
.guess__restart{
    width: 280px;
    height: 40px;
    background-color: greenyellow;
    color: aliceblue;
    font-size: 28px;
    border-radius: 8px;
}
button{
    border: none;
    background: none;
}
.guess__previous{
    font-size: 28px;
    color: aliceblue;
}
.guess__answer{
    font-size: 28px;
    color: aliceblue;
}
.guess__btn{
    background-color: red;
    color: aliceblue;
    width: 250px;
    height: 40px;
    font-size: 29px;
    border-radius: 30px;
}
.guess{
 position: relative;
  max-width: 700px;
  height: 60vh;
  margin:0 auto; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 25px;
  background-color: rgb(38, 45, 66);
  border-radius: 30px;
  margin-top: 110px;
}
body{
    background: url(./img/1.jpg)no-repeat center/cover;
    height: 80vh;
    padding: 0 20px;
}
.img{
    position: absolute;
    top: -45px;
    left: -18px;
    transform: rotate(-20deg);
}